





#kontener {
	
	margin: 10px auto 10px auto;
	background-color:#FFF;
	width:1300px;
	height:600px; 

}

#tab {

	width: 250px;
	height: auto;
	float: left;
	
	border-style:solid;
	border-size:3px;
	border-radius:10px;


}



#isiweb{

	width: 1040px;
	height: auto;
	
	min-height:400px;
	border-style:solid;
	border-size:3px;
	border-radius:10px;
	float: left;

	padding:120px 20px 20px 20px;
}


.atas{
	
	width: 100%;
	background-color:black;
	height:30px;
	
}


.ukurantombol{
	color:black;
	padding:1px 1px 1px 1px;
	}


.pagifont{
	color: black;
	font-size: 20px;
	text-align: center; 


}

.pagifont a{

	color: black;
	font-size:15px; 


}     



